<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

  <!-- main content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-9">
            <h1><%= title %></h1>
            <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/business-list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add Contact List</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <tr class="d-flex">
                        <th class="text-center col-3">Contact Name</th>
                        <th class="text-center col-3">Contact Number</th>
                        <th class="text-center col-5">Email Address</th>
                        <th class="text-center col-1">Edit</th>
                        <th class="text-center col-1">Delete</th>
                </tr>  
                <br>
                <!--Repeatable Template Row-->
                <% for(let count = 0; count < BusinessList.length; count++) { %>  
                    <tr class="d-flex">
                        <td class="text-center col-3"><%= BusinessList[count].name %></td>
                        <td class="text-center col-3"><%= BusinessList[count].contactnumber %></td>
                        <td class="text-center col-5"><%= BusinessList[count].email %></td>

                        <td class="text-center col-1">
                            <a href="/business-list/edit/<%=BusinessList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/business-list/delete/<%=BusinessList[count]._id%>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
               <% } %>  
            </table>
        </div>
     </div>
    </main>

<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>
