<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;"><center>
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">SNAP <span class="w3-hide-small">UP</span> LOGIN</span></center>
  
  <div class="login-wrapper"></div>
<!--Message Area-->
<%if(messages.length > 0) { %>
    <div class="alert alert-danger">
        <%=messages %>
    </div>
<% } %>
    <div class="row">
        <div class="offset-md-4 col-md-10"><br>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username"><b>Username: </b></label>&nbsp;&nbsp;&nbsp;
                    <input type="text" style="width:300px;" class="form-control" name="username" placeholder="Enter username" id="username" required autofocus>
                </fieldset>
                
                <fieldset class="form-group">
                    <label for="password"><b>Password: </b></label>&nbsp;&nbsp;&nbsp;
                    <input type="password" style="width:300px;" class="form-control" name="password" placeholder="Enter password" id="password" required>
                    
                </fieldset>
                <center><a href="/register" style="color:black; font-size:20px;"><b>Sign Up</b></a></center>
                
                <fieldset class="form-group text-right"><center>
                    <input type="submit" value="Login" class="btn btn-info" style="background:white;width:100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel" style="background:grey;width:100px">
                    </a></center>
                </fieldset>
            </form>
        </div>
    </div>  
  </div>
</div>

<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>
